<h1>Vessel: <%= @vessel.name %></h1>
<p>
	Active? -- <%= @vessel.active ? 'Yes' : 'No' %>
</p>
<%= link_to "New Vessel", new_vessel_path %> | 
<%= link_to "Edit Vessel", edit_vessel_path(@vessel) %> | 
<%= link_to "Vessels List",  vessels_path %>
