<!-- <h1>Vessel: <span id="vessel_name"></span></h1>
<p>
	Active?  <span id="vessel_active"></span>
</p>
<h2>Voyage by date and skipper:</h2>
<ol id="vessel_voyages"></ol>

<%= link_to "New Vessel", new_vessel_path %> | 
<%= link_to "Edit Vessel", edit_vessel_path(@vessel) %> | 
<%= link_to "Vessels List",  vessels_path %> |
<%= link_to "New Voyage on Vessel",  new_vessel_voyage_path(@vessel) %> | 
<%= link_to "Vessel Voyages",  vessel_voyages_path(@vessel) %>
-->
